body {
 
  font-family: Arial, sans-serif;
  background-image: url('../img/fondo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

nav {
  text-align: center;
  background-color: #002c8f;
  padding: 2%;
  background: linear-gradient(#002c8f,#3d5ba0);
}
nav a:hover {
  background-color: white;
  color: rgb(13, 14, 13);
}
nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

h2 {
  text-align: center;
  margin-top: 100px;
  color:#002c8f;
}
.formulario {
  background-color: white;
  opacity: 0.8;
  padding: 20px;
  max-width: 400px;
  margin: 30px auto;
  border-radius: 10px;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.formulario input[type="submit"] {
  background-color:#002c8f;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
