header{
    background-color: hwb(0 4% 95%);
    color: rgb(5, 5, 5);
    padding: 10px;
   
    justify-content:space-between ;
}
.imgenfondo {
    position: relative;
    text-align: center;
    color: white;}
body{
    margin: 0;
    font-family: Arial, sans-serif;}
nav {
  text-align: center;
  background-color: #26435c;
  padding: 15px;
  background: linear-gradient(to right, rgb(79, 122, 164), rgb(160, 138, 201));
}
nav a:hover {
  background-color: white;
  color: rgb(13, 14, 13);
}
nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}
